<section name="feedback">

  <hr />
  <p>
    Do you have any comments, questions, or just want to see more? <a
      href="https://twitter.com/walkingriver">Please follow me on Twitter and let me know</a>.</p>
  <p>
    Did I make any mistakes in this post? Feel
    free to <a href="{{site.github.repository_url}}/edit/master/{{page.relative_path}}">suggest an edit</a>.
  </p>

  <!-- <h2>New Courses!</h2>
  <p>I have announced new Ionic Framework books and courses, which are currently in progress. You can learn more or
    purchase at <a href="https://gumroad.com/walkingriver">Gumroad</a>.</p>
  <p>
    Or if you prefer the subscription model, I will make the courses available on SkillShare. <a
      href="https://skl.sh/2YoWoNI">
      Use this link and get two months free, with zero obligation.</a>
  <p>
I also have books available on <a href="https://amazon.com/author/mcallaghan">Amazon.com</a>
  </p>
  <p>
    I also author <a href="https://pluralsight.pxf.io/OnWrP">courses for Pluralsight</a>, almost exclusively about the
    Ionic Framework.
  </p> -->
  <!-- <h2>Test Yourself</h2>
    <p>
      Do you think you know Ionic? Now you can prove it. I created two tests for 
      <a href="https://kand.io/tests">kand•io</a>. You can choose either <a href="https://kand.io/tests/details/ionic-react/">Ionic-React</a> or <a href="https://kand.io/tests/details/ionic-angular/">Ionic-Angular</a>, enabling you to show off your Ionic expertise.
    </p> -->

</section>