<h1>New Courses!</h1>
<p>I have announced two new Ionic Framework courses, which are currently in progress. They are being offered at a reduced rate for a limited time. You can learn more or enroll at <a href="https://coursecraft.net/users/cREs">CourseCraft.net</a>.</p>
<h1>
  Feedback Appreciated
</h1>
<p>
  Do you have any comments or questions? Let me know on Twitter, <a
    href="https://twitter.com/walkingriver">@walkingriver</a>. Did I make any mistakes in this post? Feel
  free to <a href="{{site.github.repository_url}}/edit/master/{{page.relative_path}}">suggest an edit</a>.
</p>
<p>
  I also author <a href="https://pluralsight.pxf.io/OnWrP">courses for Pluralsight</a>, almost exclusively about the
  Ionic Framework.
</p>