<h1>New Courses!</h1>
<p>I have announced two new Ionic Framework courses, which are currently in progress. They are being offered at a
  reduced rate for a limited time. You can learn more or enroll at <a
    href="https://coursecraft.net/users/cREs">CourseCraft.net</a> (Use code IRC25 for a discount).</p>
<p>
  Or if you prefer the subscription model, I have also made it available on SkillShare. <a href="https://skl.sh/2YoWoNI">
    Use this link and get two months free, with zero obligation</a>
<p>
  If you are interested in learning more about PWAs, I just released a new book on Amazon, <a
    href="https://amzn.to/2x2fm1v">Developing PWAs with Angular (and Ionic)</a>. As a bonus, hidden somewhere inside the
  book is a discount code to my new Ionic-Angular and Ionic-React courses.
</p>
<p>
  I also author <a href="https://pluralsight.pxf.io/OnWrP">courses for Pluralsight</a>, almost exclusively about the
  Ionic Framework.
</p>
<h1>
  Feedback Appreciated
</h1>
<p>
  Do you have any comments or questions? Let me know on Twitter, <a
    href="https://twitter.com/walkingriver">@walkingriver</a>. Did I make any mistakes in this post? Feel
  free to <a href="{{site.github.repository_url}}/edit/master/{{page.relative_path}}">suggest an edit</a>.
</p>
<!-- <h1>Test Yourself</h1>
<p>
  Do you think you know Ionic? Now you can prove it. I created two tests for 
  <a href="https://kand.io/tests">kand•io</a>. You can choose either <a href="https://kand.io/tests/details/ionic-react/">Ionic-React</a> or <a href="https://kand.io/tests/details/ionic-angular/">Ionic-Angular</a>, enabling you to show off your Ionic expertise.
</p> -->
