{% if page.tags and page.tags.size > 0 %}
<div class="entry-tags">
    {% for tag in page.tags %}
    <a href="{{ site.url }}/tags/#{{ tag | slugify }}" class="tag-pill">{{ tag }}</a>
    {% endfor %}
</div>
{% endif %}

<div class="social-share">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" rel="noopener noreferrer">Share on Facebook<span class="visually-hidden"> (opens in new tab)</span></a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ site.url }}{{ page.url }}" target="_blank" rel="noopener noreferrer">Share on Twitter<span class="visually-hidden"> (opens in new tab)</span></a>
</div>
